<!--
  Generated template for the IssueDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>IssueDetails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <div><img src="{{issue.imageUrl}}"></div>
  <div><p>{{issue.description}}</p></div>

  <h2>Status actuel : {{issue.state}}</h2>
  <form>

    <ion-item>
      <ion-label floating>Votre commentaire</ion-label>
      <ion-input type='text' name='reason'
                 #reason='ngModel' [(ngModel)]='actionRequest.reason' minlength='2' maxlength='50' required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <span *ngIf="isStaff()">
    <button type='submit' ion-button color="dark" round icon-start *ngIf="issue.state=='new'" (click)="setState('start')">
      <ion-icon name='build'></ion-icon>
      Start
    </button>
    <button type='submit' ion-button color="dark" round icon-start *ngIf="issue.state=='inProgress'" (click)="setState('resolve')">
      <ion-icon name='checkmark' is-active="false"></ion-icon>
      Resolve
    </button>
    <button type='submit' ion-button color="dark" round icon-start *ngIf="issue.state=='new'||issue.state=='inProgress'" (click)="setState('reject')">
      <ion-icon name='close' is-active="false"></ion-icon>
      Reject
    </button>
  </span>
  </form>

  <figure>
    <figcaption>Commentaires</figcaption>
    <ul>
      <li *ngFor="let comment of commentsList" >{{comment.text}}</li>
    </ul>
  </figure>





  <form (submit)='onSubmit($event)'>

    <!-- Comment input -->
    <ion-item>
      <ion-label floating>Commentaire</ion-label>
      <ion-input type='text' name='comment'
                 #commentInput='ngModel' [(ngModel)]='commentRequest.text' required></ion-input>

    </ion-item>

    <!-- Error message displayed if the username is invalid -->
    <ion-item *ngIf='commentInput.invalid && commentInput.dirty' no-lines>
      <p ion-text color='danger'>Comment is required.</p>
    </ion-item>

    <div padding>

      <!-- Submit button -->
      <button type='submit' [disabled]='form.invalid' ion-button block outline>Ajouter mon commentaire</button>

    </div>
  </form>

</ion-content>
