page-issue-list {
  ion-thumbnail{
    width: 100%;
  }
  img{
    border-radius: 8px;
    width: 100%;
  }
  .title_list{
    border-bottom-color: white !important;
    border-color: white !important;
    color: white !important;
  }
  .title_list:hover{
    color: white;
  }
}
