page-create-issue {

    ion-spinner {
        display: block;
        margin:50px auto;
    }

    ion-input.ng-invalid.ng-dirty {
        background-color: #fff3f3;
    }

    .centeredImageContainer {
        height: 40%;
        overflow: hidden;
        position: center;
        vertical-align: middle;
    }
    .centeredImage {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        position: absolute;  
        top: 0;  
        bottom: 0;  
        left: 0;  
        right: 0;  
        margin: auto;
    }

}
