<ion-header>

  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

  <form (submit)='onSubmit($event)'>

    <ion-list>

      <!-- UserName input -->
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type='text' name='name'
                   #nameInput='ngModel' [(ngModel)]='userRequest.name' maxlength='25' required></ion-input>

      </ion-item>

      <!-- Error message displayed if the username is invalid -->
      <ion-item *ngIf='nameInput.invalid && nameInput.dirty' no-lines>
        <p ion-text color='danger'>Username is required.</p>
      </ion-item>

      <!-- Password input -->
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type='password' name='password'
                   #passwordInput='ngModel' [(ngModel)]='userRequest.password' minlength='4' required></ion-input>

      </ion-item>

      <!-- Error message displayed if the password is invalid -->
      <ion-item *ngIf='passwordInput.invalid && passwordInput.dirty' no-lines>
        <p ion-text color='danger'>Password is required.</p>
      </ion-item>

      <!-- Firstame input -->
      <ion-item>
        <ion-label floating>Firstname</ion-label>
        <ion-input type='text' name='firstname'
                   #firstnameInput='ngModel' [(ngModel)]='userRequest.firstname' minlength='2' maxlength='25' required></ion-input>

      </ion-item>

      <!-- Error message displayed if the username is invalid -->
      <ion-item *ngIf='firstnameInput.invalid && firstnameInput.dirty' no-lines>
        <p ion-text color='danger'>Firstame is required.</p>
      </ion-item>

      <!-- Lastname input -->
      <ion-item>
        <ion-label floating>Lastname</ion-label>
        <ion-input type='text' name='lastname'
                   #lastnameInput='ngModel' [(ngModel)]='userRequest.lastname' minlength='2' maxlength='25' required></ion-input>
      </ion-item>

      <!-- Error message displayed if the username is invalid -->
      <ion-item *ngIf='lastnameInput.invalid && lastnameInput.dirty' no-lines>
        <p ion-text color='danger'>Lastname is required.</p>
      </ion-item>

      <!-- Phone input -->
      <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type='text' name='phone'
                   #phoneInput='ngModel' [(ngModel)]='userRequest.phone' required></ion-input>

      </ion-item>

      <!-- Error message displayed if the username is invalid -->
      <ion-item *ngIf='phoneInput.invalid && phoneInput.dirty' no-lines>
        <p ion-text color='danger'>Lastname is required.</p>
      </ion-item>

    </ion-list>
    <div padding>

      <!-- Submit button -->
      <button type='submit' [disabled]='form.invalid' ion-button block outline>Sign up</button>

      <!-- Error message displayed if the login failed -->
      <p *ngIf='loginError' ion-text color='danger'>Form invalid.</p>

    </div>
  </form>
</ion-content>
